{% block comments %}

	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{% static '/articleAndcomment/deleteComments.js' %}"></script>
{% for Comments in comments %}

<div  id='{{Comments.pk}}'><div class="c"><p>{{Comments.UserWhoCommented.name}}: {{ Comments.CommentInfo }}		{% if userloggedIn and user.email == Comments.UserWhoCommented.email %} </p><button class="delete" id='/news/{{Comments.pk}}/{{Comments.articleCommentedOn.pk}}/delete?'>Delete</button>	
							

						</div>
		{% else %}	
		{% endif %}</div>

		<br>
		{% endfor %}

{% endblock %}